body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 95vw; /* Take up almost the full viewport width */
  max-width: 450px; /* Increased max-width for larger display */
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 70vh; /* Minimum height to occupy more of the screen */
  display: flex; /* Use flexbox for better layout control */
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 15px;
}

#problem {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 15px;
}

.button {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  font-size: 1.5em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: #45a049;
}

.feedback {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.status {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.status-item {
  text-align: center;
  flex: 1;
  margin: 5px;
}

.icon {
  font-size: 1.8em;
  margin-right: 5px;
}

.bigger {
  font-size: 2.5em !important;
}


/* Media Query for Vertical Orientation (adjust as needed) */
@media (orientation: portrait) {
  .container {
    width: 95vw; /* Take almost the full viewport width */
    max-width: 500px;
  }
  .status {
    flex-direction: column; /* Stack status vertically */
  }
  .status-item {
      width: 100%;
      margin-bottom: 10px;
  }
}
